<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.poyal.perilog"/>
        <package android:name="com.poyal.perilog.debug"/>
    </queries>
    <application android:theme="@android:style/Theme.Material.Light.NoActionBar" android:label="Perilog Widget Test Host" android:allowBackup="false">
        <activity android:name=".HostActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    </application>
</manifest>
